<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home.css') }}">
</head>
<body>
	<h1>Friends</h1>
    <nav id="navigation">
        <a class="button" href="/home"> Home </a> |
        <a class="button" href="/friendgroup"> FriendGroups </a> |
        <a class="button" href="/friends"> Friends </a> |
        <a class="button" href="/managetags"> Manage Tags </a> |
        <a class="button" href="/mypost"> My Profile </a> |
        <a class="button" href="/users"> Users </a> |
        <a class="button" href="/logout">Logout</a>
        <br> <br> <br> <br>
    </nav>
 <h1> Users </h1>
  <table>
    <th>Username </th> <th> First Name </th> <th> Last Name </th>
  {% for line in users %}
    <tr>
      <td> {{line.email}} </td>
      <td> {{line.fname}} </td>
      <td> {{line.lname}} </td>
    </tr>
  {% endfor %}
  </table>
</body>
</html>