body {
    margin: auto;
    width: 90%; 
    text-align: center;
}
input[name = "blog"] {
    width: 90%;
    height: 150px;
    overflow: auto;
    word-wrap: hyphenate;
    resize: vertical;
}
input[name = "button"] {
    background-color:dimgrey;
    color:whitesmoke;
    border: none;
    width:30%;
}
table{
    width:90%;
} 
tr:nth-child(even) {
    background-color: #f2f2f2;
}
h1 {

}